<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*" Name="SetupGetGuid" Language="1033" Version="1.0.0.0" Manufacturer="RMCorp" UpgradeCode="21e9efed-e8e7-4558-adfc-bec21c9381bf">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of SetupGetGuid is already installed." />
    <MediaTemplate  EmbedCab="yes"/>

    <UIRef Id="WixUI_Minimal" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SetupGetGuid">
          <Directory Id="docs" Name="docs" />
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainApplication">
        <File Source="D:\\MainApp\\ProdFiles\\check.txt" />
      </Component>

      <Component Id="ModuleA">
        <File Source="D:\\MainApp\\ProdFiles\\ModuleA\\ModuleA.txt" />
      </Component>
      
        <Component Id="ModuleB">
        <File Source="D:\\MainApp\\ProdFiles\\ModuleB\\ModuleB.txt" />
      </Component>
      
      <Component Id="ModuleC">
        <File Source="D:\\MainApp\\ProdFiles\\ModuleC\\ModuleC.txt" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DocComponents" Directory="docs">
      <Component Id="Documentation">
        <File Source="D:\\MainApp\\Docs\\docs.txt"/>        
      </Component>
      
    <Component Id="ReadMe">
        <File Source="D:\\MainApp\\Docs\\readme.txt"/>        
      </Component>      
    </ComponentGroup>

    <Feature Id="ProdDocs" Title="Documnetation" Level="1">
      <ComponentGroupRef Id="DocComponents" />
    </Feature>

    <Feature Id="ProdFeatures" Title="SetupGetGuid" Level="1">
      <ComponentRef Id="MainApplication" />
      
      <Feature Id="ModuleA" Title="ModuleA" Level="1">
        <ComponentRef Id="ModuleA" />
      </Feature>
      
      <Feature Id="ModuleB" Title="ModuleB" Level="1">
        <ComponentRef Id="ModuleB" />
      </Feature>

      <Feature Id="ModuleC" Title="ModuleC" Level="1">
        <ComponentRef Id="ModuleC" />
      </Feature>
    </Feature>

  </Product>
</Wix>
